credentials.json
*.log
*.txt
*.pyc
cogs/__pycache__
cogs/__init__.py
cogs/utils/__pycache__
cogs/utils/tag_manager/__pycache__
cogs/utils/music/__pycache__
avatars/
youtube_cache/
playlist_cache/
snake.db