credentials.json
config.json
*.log
*.txt
cogs/__pycache__/
cogs/__init__.py
cogs/utils/__pycache__/
cogs/utils/__init__.py
cogs/utils/tag_manager/__pycache__/
changes.diff
cogs/_command_misc.py
cogs/_command_music.py
cogs/_command_personal.py
cogs/_command_tags.py
shard_snake.py
cogs/utils/tag_manager/_parser.py
avatars/
youtube_cache/